/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxHeading_table			{margin:0px 0px 0px 0px; border-top:0px solid #e8e4e4;}
.infoBoxHeading_td				{width:100%; height:37px;padding:7px 0px 3px 13px; vertical-align:top;}
/* ************************************************************************************* */
.infoBoxHeading_td 					{color:#353535;font-size:13px;line-height:15px;font-weight:bold;}
.infoBoxHeading_td  a 				{color:#353535;font-size:13px;line-height:15px;font-weight:bold;text-decoration:none}
.infoBoxHeading_td  a:hover 		{color:#353535; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxHeading2_table			{margin:0px 0px 0px 0px;}
.infoBoxHeading2_td				{width:100%; height:23px;padding:3px 0px 3px 13px; vertical-align:top;}
/* ************************************************************************************* */
.infoBoxHeading2_td 				{color:#353535;font-size:13px;line-height:15px;font-weight:bold;}
.infoBoxHeading2_td  a 				{color:#353535;font-size:13px;line-height:15px;font-weight:bold;text-decoration:none}
.infoBoxHeading2_td  a:hover 		{color:#353535; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox_table					{margin:0px 0px 4px 0px;}
.infoBox_td 					{padding:0px 0px 0px 0px;width:100%;}
/* ************************************************************************************* */
.infoBoxContents_table			{margin:0px;}
.infoBoxContents_table .boxText	{width:100%;padding:5px 13px 12px 13px; height:61px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.box_cart					{margin-top:15px;margin-bottom:11px;}
.box_cart td				{padding:4px 0px 4px 0px;}
.boxText font  				{color:#808182; text-decoration:none; font-size:12px; font-weight:normal;}
.boxText font a 			{color:#808182; text-decoration:none; font-size:12px; font-weight:normal;}
.boxText font a:hover  		{color:#808182;}

.boxText font.sc a 			{color:#808182; text-decoration:none; font-size:12px; font-weight:bold;}
.boxText font.sc a:hover  	{color:#808182; text-decoration:underline}

.boxText strong a 				{color:#808182; text-decoration:none; font-size:12px; line-height:14px; font-weight:bold;}
.boxText strong a:hover  		{color:#808182; text-decoration:none}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText SPAN.newItemInCart 				{color: #ff0000;font-size:12px; line-height:14px;padding:4px 0px 4px 0px;}
.boxText a .newItemInCart					{color: #ff0000;font-size:12px; line-height:14px;}
.boxText a:hover .newItemInCart 			{color: #ff0000; text-decoration:underline;}
.boxText SPAN.oldItemInCart					{color: #808182;font-size:12px; line-height:14px;padding:4px 0px 4px 0px; display:block;}
.boxText a .oldItemInCart					{color: #808182;font-size:12px; line-height:14px;}
.boxText a:hover .oldItemInCart 			{color: #808182; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText,
.boxText td					{color:#808182; font-size:13px; line-height:16px;  }
.boxText a					{color:#808182; font-size:13px; line-height:12px;  text-decoration:none;}
.boxText a:hover			{text-decoration:underline;}
.boxText .order_history 			{width:100%;padding:3px 5px 3px 0px;}
.boxText .order_history a			{color:#808182; font-size:11px; line-height:18px; font-weight:normal; text-decoration:none; text-transform:uppercase;}
.boxText .order_history a:hover		{color:#808182; text-decoration:none;}


.boxText span a					{color:#808182; font-size:13px; line-height:16px; font-weight:normal; text-decoration:none;}
.boxText span a:hover			{color:#808182; text-decoration:underline;}

.boxText span.productSpecialPrice 	{color:#bf1327;font-size:13px; line-height:16px; font-weight:bold; display:inline;}
.boxText b.productSpecialPrice 		{color:#bf1327;font-size:13px; line-height:16px; font-weight:bold; display:inline;}
del						 			{color:#808182;font-size:13px; line-height:16px; font-weight:bold; }

.boxText div.img 				{margin:10px 0px 10px 0px; text-align:center;}
.boxText div.stars 				{margin:14px 0px 10px 0px;}

.boxText .name_padd				{padding:10px 0px 0px 0px;height:16px; vertical-align:top;}
.boxText .pic_padd				{padding:0px 0px 0px 0px;text-align:center; vertical-align:middle;}
.boxText .price_padd			{padding:10px 1px 5px 1px;vertical-align:middle; height:10px; width:100%; text-align:center}
.boxText .price_padd b			{display:block; color:#525151; font-size:12px; line-height:13px; font-weight:normal; padding-bottom:2px; padding-top:2px; display:none;}
.boxText .desc_padd				{padding:10px 0px 11px 0px;height:54px;}		
.boxText select					{margin:5px 0px 5px 0px;border:1px solid #e5e5dc;background:#fff; color:#797969;height:19px; width:100%;}	
.boxText .input					{margin:0px 0px 0px 0px;border:1px solid #e5e5dc;background:#fff; color:#797969;height:19px; width:100%;}
.boxText .button_search			{width:15%;}
.boxText .button_search input	{margin:2px 0px 0px 0px;}
.boxText .text_search			{text-align:left; width:85%;}
.boxText .star_padd				{padding:6px 0px 10px 0px;}
.boxText .languages				{padding:10px 0px 10px 0px;}
.boxText .button				{padding:0px 0px 4px 0px; height:26px; text-align:center; vertical-align:middle;}
.boxText .padd 					{padding:0px 0px 5px 0px;}
.boxText .advserch 				{text-align:left;}
.boxText .advserch 	a			{color:#817a7a; font-weight:normal; text-decoration:underline;}
.boxText .table3				{margin:7px 0px 14px 0px; width:158px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText .search_input-rep			{background:url(/images/search-rep.gif) 0px 0px repeat-x; width:100%;}
.boxText .search_input-left			{background:url(/images/search-left.gif) 0px 0px no-repeat;}
.boxText .search_input-right		{background:url(/images/search-right.gif) 100% 0px no-repeat;width:100%;vertical-align:middle; height:23px;}

.boxText .search_button-rep			{background:url(/images/search2-rep.gif) 0px 0px repeat-x;}
.boxText .search_button-left		{background:url(/images/search2-left.gif) 0px 0px no-repeat;}
.boxText .search_button-right		{background:url(/images/search2-left.gif) 100% 0px no-repeat;vertical-align:middle; height:23px;padding:0px 0px 2px 0px;}
/* ************************************************************************************* */
.boxText .go						{width:100%;border:0px solid #cccccc;background:transparent; color:#a4a4a4;vertical-align:middle;margin:0px 0px 0px 0px;padding:0px 5px 2px 5px; height:16px; line-height:14px;}
/* ************************************************************************************* */
.boxText li							{padding:0px 0px 0px 0px; width:100%;}
.boxText li, .boxText li a			
									{ vertical-align:top; font-size:13px; line-height:17px; font-weight:normal;}
.boxText ul							{list-style:none;padding:0;}
.boxText .categories				{margin:0px 0px 0px 0px;}
.boxText .bestsellers				{margin:0px 0px 0px 0px;}
.boxText .information				{margin:0px 0px 0px 0px;}
.boxText .manufacturers 			{margin:0px 0px 0px 0px;}
.boxText li a 						{display:block;}
.boxText ul li div 					{padding-left:15px;}


.boxText .bg_list 					{padding:0px 0px 0px 0px;}
.boxText .bg_list a					{color:#00508a;
									 padding:2px 0px 5px 0px;text-decoration:underline;}
.boxText .bg_list a:hover			{color:#808182;text-decoration:none;}
.boxText .bg_list a b				{color:#00508a;font-size:13px; line-height:17px; font-weight:bold;text-decoration:none;}
	
.boxText .bg_list_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list_un a				{color:#00508a;
									 padding:2px 0px 5px 0px;text-decoration:underline;}
.boxText .bg_list_un a:hover		{color:#808182;text-decoration:none;}
.boxText .bg_list_un a b			{color:#00508a;font-size:13px; line-height:17px; font-weight:bold;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText .bg_list2 					{padding:0px 0px 0px 0px;}
.boxText .bg_list2 a 				{padding:0px 0px 13px 0px;}
.boxText .bg_list2 a:hover 			{text-decoration:none;}

.boxText .bg_list2_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list2_un a				{padding:0px 0px 13px 0px;}
.boxText .bg_list2_un a:hover 		{text-decoration:none;}
/* ************************************************************************************* */
.boxText .bg_list2 					{padding:0px 0px 0px 0px;}
.boxText .bg_list2 a font			{color:#808182;}
.boxText .bg_list2 a:hover font		{color:#00508a;text-decoration:underline;}

.boxText .bg_list2_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list2_un a	font		{color:#808182;}
.boxText .bg_list2_un a:hover font	{color:#00508a;text-decoration:underline;}
/* ************************************************************************************* */
.boxText .bg_list2 a b				{color:#808182; font-weight:bold;background:url(/images/bg_list2.gif) 0px 0px no-repeat; height:20px; width:20px; display:inline-block; padding-top:1px; padding-left:6px;}
.boxText .bg_list2 a:hover b		{color:#808182;text-decoration:none;}

.boxText .bg_list2_un  				{ }
.boxText .bg_list2_un a	b			{color:#808182; font-weight:bold;background:url(/images/bg_list2.gif) 0px 0px no-repeat;height:20px; width:20px; display:inline-block; padding-top:1px; padding-left:6px;}
.boxText .bg_list2_un a:hover b		{color:#808182;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText .bg_list3 					{background:url(/images/bg_list_hline.gif) 0px 0px repeat-x;}
.boxText .bg_list3 a				{color:#808182;
						 			 padding:6px 1px 8px 8px;background:url(/images/bg_list.gif) 0px 11px no-repeat;}
.boxText .bg_list3 a:hover			{color:#808182;text-decoration:underline;}

.boxText .bg_list3_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list3_un a				{color:#808182;
						 			 padding:6px 1px 8px 8px;background:url(/images/bg_list.gif) 0px 11px no-repeat;}
.boxText .bg_list3_un a:hover		{color:#808182;text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
