/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ LINKS ]----*/

/* all menu links */
#nav a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	background-color:#3300CC;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
	margin:0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #2a6b9e;
	font-style: italic;
	text-align: left;
}

/* sub menu links on hover or focus */
#nav li a:hover,
#nav li a:focus{
	color:#f07c00;
	background-image: url(/images/menu_activ.png);
}
/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:0 0 0 -2px;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {
	/*border around submenu goes here*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #b0aca5;
	left:0;
	background-color: #f9f8f5;
}

/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li {
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	background-image: url(/images/menu_bg.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#subMenusContainer li{
	list-style: none;
}

/* main menu ul or ol elment основное меню*/
#nav{
	display:block;
	position: absolute;
	list-style:none;
	margin:0 0 0 -280px;
	width:221px;
	z-index:5;
	top:60px;
	left:50%;
	text-align: right;
	}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{
	float:none;
	display: block;
}

#nav li ul { /* second-level lists ширина второго уровня */
	position: absolute;
	width: 10em;
	margin-left: -1000em;
	background-color: #f9f8f5;
	display: block;
}

/* third-and-above-level lists */
#nav li ul ul {
	margin: -1em 0 0 -1000em;
	color: #9900FF;
}
#nav li:hover ul ul {
	margin-left: -1000em;
	color: #99FF00;
}

 /* lists nested under hovered list items подменю влево */
#nav li:hover ul{
	margin-left: 222px;
	margin-top:-2.5em;
}
#nav li li:hover ul {
	margin-left: 30em;
}

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {
	margin-left: 222px;
	margin-top:-2.5em;
	color: #CCFFCC;
	background-color: #f9f8f5;
}
#nav li li a:focus + ul {
	left:222px;
	margin-left: 1010em;
	margin-top:-2.5em;
	color: #FF00FF;
}
#nav li li a:focus {
	left:222px;
	margin-left:1000em;
	width:10em;
	margin-top:-2.5em;
	color: #CC6666;
}
#nav li:hover a:focus{
	margin-left: 0;
}
#nav li li:hover a:focus + ul {
	margin-left: 60em;
	background-color: #00FF00;
}

#MenuLeft #nav li li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5d6569;
	font-style: normal;
	text-decoration: underline;
	background-color: #f9f8f5;
	width: 110px;
	text-align: left;
	float: left;
	position: relative;
}
#MenuLeft #nav li li a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f07c00;
	font-style: normal;
	text-decoration: underline;
	background-color: #f9f8f5;
	width: 120px;
	z-index: 150;
}
