/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.cont_heading_table				{margin:0px 0px 0px 0px;}
.cont_heading_td				{width:100%; height:23px;padding:10px 0px 10px 0px; vertical-align:top;}

/* ************************************************************************************* */
.cont_heading_td 			{color:#353535;font-size:13px;line-height:15px;font-weight:bold;}
.cont_heading_td a 			{color:#353535;font-size:13px;line-height:15px;font-weight:bold;text-decoration:none}
.cont_heading_td a:hover 	{color:#353535; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.content_wrapper_table		{margin:0px 0px 0px 0px;}
.content_wrapper_td			{padding:0px 0px 0px 0px; width:100%;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.content_wrapper1_table				{margin:6px auto auto auto;border-top:1px solid #e8e4e4;}
.content_wrapper1_td				{padding:10px 0px 25px 0px; width:100%;}
/* ************************************************************************************* */
.content_wrapper2_table				{margin:auto auto auto auto;}
.content_wrapper2_td				{padding:0px 16px 0px 16px; width:100%;}
/* ************************************************************************************* */
.content_wrapper3_table				{margin:3px 0px 3px 0px;}
.content_wrapper3_td				{padding:0px 13px 15px 13px; width:100%;}
/* ************************************************************************************* */
.content_wrapper4_table				{margin:3px auto 0px auto;border-top:1px solid #e8e4e4;}
.content_wrapper4_td				{padding:3px 0px 15px 0px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.tableBox_output_table		{margin:3px 0px 3px 0px;}
.tableBox_output1_td		{padding:0px 0px 0px 0px;}
.tableBox_shopping_cart		{margin:0px 0px 0px 0px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.prod_table				{border-top:0px solid #fbe787;margin:auto;}
.prod_td				{padding:9px 10px 14px 10px; width:100%;}
/* ************************************************************************************* */
.prod2_table			{border-top:0px solid #fbe787;margin:auto;}
.prod2_td				{padding:1px 0px 5px 0px; width:100%;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.wrapper_pic_table	{margin:auto;width:1px;}
.wrapper_pic_td		{padding:0px; text-align:center}
/* ************************************************************************************* */
.wrapper_pic2_table		{margin:auto;width:1px;}
.wrapper_pic2_td		{padding:0px; text-align:center}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.prod_line_x					{background:url(/images/spacer.gif) 0px center repeat-x;}
.prod_line_y					{background:url(/images/spacer.gif) center 0px repeat-y;}
.prod_line_y-part				{border-top:8px solid #fff;}

.prod2_line_x					{background:url(/images/spacer.gif) 0px center repeat-x;}
.prod2_line_y					{background:url(/images/spacer.gif) center 0px repeat-y;}

.padd_gg img					{height:16px;}
.padd_vv img					{width:24%;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.category_line_x			{background:url(/images/line_x.gif) 0px 100% repeat-x;}
.cart_line_x				{background:url(/images/line_x.gif) 0px center repeat-x;}
.cart_line_y				{background:url(/images/line_y.gif) center 0px repeat-y;}

.padd2_gg img				{height:3px;}
.padd2_vv img				{width:3px;}

.padd3_gg img				{height:11px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.main a.enlarge				{color:#00508a; font-size:12px; text-transform:lowercase; font-weight:normal; display:block;padding:10px 0px 10px 0px; text-decoration:underline;}
.main a:hover.enlarge		{color:#00508a; font-size:12px; text-transform:lowercase; font-weight:normal; text-decoration:none}
/* ************************************************************************************* */
/* ************************************************************************************* */
.result1_top				{padding:0px 0px 0px 0px;border-bottom: 1px solid #e8e4e4;}
.result1_bottom				{padding:0px 0px 0px 0px;border-bottom: 1px solid #e8e4e4;}
.result2_top				{padding:0px 0px 0px 0px;border-bottom: 1px solid #e8e4e4;}
.result2_bottom				{padding:0px 0px 0px 0px;border-bottom: 1px solid #e8e4e4;}

.result_top_padd			{margin:0px 0px 0px 0px; background:#ffffff;}
.result_bottom_padd			{margin:0px 0px 0px 0px; background:#ffffff;}

.result_top_padd td  		{width:50%; vertical-align:middle;padding:15px 0px 15px 0px;}
.result_bottom_padd td		{width:50%; vertical-align:middle;padding:15px 0px 15px 0px;}

.result_right 	{text-align:right;}
.result td  	{color:#535353; font-size:12px; line-height:12px; }
.result b   	{color:#535353; font-weight:normal;}
/* ************************************************************************************* */
.result_right b							{color:#00508a; font-weight:bold;}
.result_right a.pageResults				{color:#00508a; text-decoration:underline;font-size:12px;}
.result_right a.pageResults:hover 		{color:#00508a;	text-decoration:none;}
.result_right a.pageResults	u			{color:#00508a; text-decoration:underline;}
.result_right a.pageResults u:hover 	{color:#00508a;	text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
TD.smallText, 
SPAN.smallText,
.smallText em,  
P.smallText 			{font-size: 10px; font-weight:normal; font-style:normal;}

.smallText a			{color:#00508a; font-size:12px; text-decoration:none;}
.smallText a:hover 		{color:#00508a; font-size:12px; text-decoration:underline;}
.smallText a u 			{color:#00508a; font-size:12px; text-decoration:none;}
.smallText a:hover u	{color:#00508a; font-size:12px; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.cart_total_left  			{width:80%; text-align:right; vertical-align:middle;height:17px;padding:12px 15px 10px 0px;}
.cart_total_right  			{width:20%; text-align:center;vertical-align:middle;padding:0px 0px 0px 10px;}
.cart_total_left   			{color:#523d47;font-size:12px;line-height:14px;font-weight:bold;}
.cart_button_padd			{padding:17px 8px 9px 8px; }
/*  *********  */
.remove 					{width:20%;}
.products 					{width:45%;}
.quantity 					{width:15%;}
.total 						{width:20%;}
/*  *********  */
.main .s_cart_head_padd						{padding:5px 0px 8px 0px; height:17px; vertical-align:middle; text-align:center;}
.main .s_cart_td							{padding:19px 0px 0px 0px;}
.main .s_cart_td .input						{border:1px solid #e5e5dc;background:#fff; color:#797969; padding-top:1px; height:18px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
td.main, p.main, div.main, .main td, .main p, .main b	 				
						{color:#969494; font-size:12px; line-height:15px; font-weight:normal; }

.main .desc				{color:#9e9d98; font-size:11px; line-height:15px; font-weight:normal; }
.main .desc2			{color:#9e9d98; font-size:12px; line-height:15px; font-weight:normal; }						

.main .name					{color:#535353; line-height:20px; }
.main .s_cart_head			{color:#523d47;font-size:12px;line-height:14px;font-weight:bold;}
.main a						{color:#817a7a; font-size:11px; line-height:17px; font-weight:normal;  text-decoration:none;}
.main a:hover				{color:#817a7a; text-decoration:underline;}
  
.main .name a				{color:#817a7a; font-size:13px; line-height:17px; font-weight:normal; text-decoration:none;}
.main .name a:hover			{color:#817a7a; text-decoration:underline;}


.main .desc b 				{color:#969494;}
.main .desc2 strong			{color:#969494;}
.main .desc2 a 				{color:#9e9d98; font-size:12px; font-weight:normal; text-decoration:underline;}
.main .desc2 a:hover		{color:#9e9d98; font-size:12px; text-decoration:none;}
.main b b 					{color:#523d47;font-size:12px;line-height:12px;font-weight:bold;}

SPAN.productSpecialPrice 			{color:#000000;font-size:12px;line-height:14px;font-weight:normal; display:inline;}
s									{color:#000000;font-size:12px;line-height:14px;font-weight:normal;}

.main SPAN.productSpecialPrice 		{color:#bf1327;font-size:13px; line-height:12px; font-weight:bold; display:inline;}
.main s								{color:#808182;font-size:13px; line-height:12px; font-weight:bold;}

.main b.productSpecialPrice 		{color:#bf1327;font-size:13px; line-height:16px; font-weight:bold;display:inline;font-family:Tahoma, Geneva, sans-serif;}
.main .price2_padd b				{color:#9e9d98; font-size:11px; line-height:12px; font-weight:normal; font-family:Tahoma, Geneva, sans-serif;}


.main .strong				{color:#9e9d98; font-size:14px; line-height:42px; font-weight:bold;  display:block;}
.content_wrapper2_td .main				{color:#9e9d98; font-size:12px; line-height:14px; font-weight:normal;}
.content_wrapper2_td select				{border:1px solid #e5e5dc;background:#fff; color:#797969;vertical-align:middle;}
.img						{border:0px solid #efd9b0; background:#ffffff;}

.main .data em				{color:#969494; font-size:10px; line-height:12px; font-weight:normal; }
/* ************************************************************************************* */
/* ************************************************************************************* */
table.listing 				{margin:0px 0px 2px 0px;}
table.listing td			{padding:1px 0px 1px 0px;background:url(/images/line_.gif) 0px center repeat-x;
							 color:#9e9d98; font-size:11px; line-height:14px; }

.main .listing b 					{font-weight:normal;}
.main .listing em,
.main .listing font   				{color:#9e9d98; font-size:11px; line-height:14px;  font-weight:normal;padding:0px 0px 0px 4px;}
.main .listing b font   			{color:#9e9d98; font-size:11px; line-height:14px;  padding:0px 4px 0px 0px;}
.main .listing b font a 			{text-decoration:underline;}
.main .listing b font a:hover   	{text-decoration:none}

.main .listing font a 			{color:#9e9d98; font-size:11px; line-height:14px; font-weight:normal;text-decoration:underline;}
.main .listing font a:hover   	{color:#9e9d98; text-decoration:none} 
/* ************************************************************************************* */
/* ************************************************************************************* */
.main .desc2 ul			{margin:5px 0px 15px 0px;list-style:none;padding:0;}
.main .desc2 li			{padding:0px 0px 0px 0px;}

.main .desc2 li div		{color:#9e9d98; font-size:11px; line-height:14px; font-weight:normal; text-decoration:underline;
						 padding:5px 1px 5px 1px;}


.main .desc2 li a		{color:#9e9d98; font-size:11px; line-height:14px; font-weight:normal;text-decoration:underline;}
.main .desc2 li a:hover	{color:#9e9d98; font-size:11px; line-height:14px; font-weight:normal;text-decoration:none;}

.desc_list				{width:50%;}
.desc_list_separator	{padding:0px 20px 0px 20px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.main br										{line-height:9px;}
/*  *********  */
.main .right .pic_padd							{padding:1px 0px 2px 17px;float:right;}
.main .right .name_padd							{padding:14px 12px 14px 0px; vertical-align:middle;text-align:left;}
.main .right .desc_padd							{padding:12px 0px 0px 0px; text-align:left;}
.main .right .data_padd							{padding:16px 2px 0px 0px;float:right; text-align:right; line-height:20px;}
.main .right .price_padd						{padding:15px 6px 0px 0px;  text-align:left;line-height:20px;}
.main .right .button_padd						{padding:7px 0px 0px 0px;}
/*  *********  */
.main .left .pic_padd							{padding:1px 17px 2px 0px;float:left;}
.main .left .name_padd							{padding:14px 12px 14px 13px;h vertical-align:middle;text-align:left;}
.main .left .desc_padd							{padding:12px 0px 0px 0px; text-align:left;}
.main .left .data_padd							{padding:16px 0px 0px 0px; text-align:left; line-height:20px;}
.main .left .price_padd							{padding:15px 6px 0px 0px;float:right; line-height:23px;}
.main .left .button_padd						{padding:7px 0px 0px 0px;}

/*  *********  */
.main .name2_padd							{padding:5px 0px 3px 0px;height:49px; vertical-align:top;}
.main .pic2_padd							{padding:0px 0px 0px 0px;}
.main .desc2_padd							{padding:0px 0px 13px 0px;}
.main .listing2_padd						{padding:1px 0px 9px 0px;}
.main .price2_padd							{padding:0px 0px 2px 0px;vertical-align:middle; height:12px;}
.main .price2_padd b						{color:#aaaaaa; font-size:12px; font-weight:normal; display:none;}
.main .button2_padd							{padding:3px 0px 0px 0px;}
/*  *********  */
/*  *********  */
.main .name3_padd							{width:100%; height:35px;padding:5px 15px 3px 15px; text-align:center;}
.main .pic3_padd							{padding:1px 3px 0px 3px; text-align:center;}
.main .desc3_padd							{padding:1px 0px 5px 0px;}
.main .button3_padd							{padding:10px 0px 0px 0px; text-align:center;}
.main .price3_padd							{padding:9px 0px 7px 0px; height:8px;text-align:center;}

.main .name4_padd							{padding:1px 12px 4px 13px;height:47px; text-align:center; vertical-align:middle;}
.main .pic4_padd							{padding:0px 0px 10px 0px; text-align:center;}
.main .desc4_padd							{padding:2px 0px 3px 0px; text-align:center;}
.main .price4_padd							{padding:2px 0px 0px 0px; text-align:center; vertical-align:middle; height:49px;}
.main .button4_padd							{padding:4px 0px 0px 0px;text-align:center;}
/* ************************************************************************************* */
.button_marg img, 
.button_marg input 							{margin:2px 1px 0px 0px;}

.button2_marg img,
.button2_marg input 						{margin:2px 0px 2px 0px;}

.button3_marg img, 
.button3_marg input 						{margin:2px 0px 3px 0px;}

.bg_input input,
.infoBox_ .bg_input input,
.infoBox_ .main .bg_input  input			{background:none; border:0px;}


.infoBox_ .fieldValue  input			{height:17px; padding-top:1px; padding-left:3px; padding-right:3px;}			
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox_ 				{margin:3px 0px 9px 0px;border:1px solid #edece4; border-width: 1px 1px 1px 1px;}
.infoBox_ .infoBox__ 	{padding:3px 3px 3px 3px;border:0px solid #fff; border-width: 3px 3px 3px 3px;}
/* ************************************************************************************* */
.infoBox_  TEXTAREA,
.infoBox_ .main  TEXTAREA,
.infoBox_ .main  input,
.infoBox_ .main  select,
.infoBox_ .fieldValue  select,
.infoBox_ .fieldValue  input			{border:1px solid #e5e5dc;background:#fff; color:#797969;}		
/* ************************************************************************************* */
/* ************************************************************************************* */
TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd 				{background:#efefef;}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {}

.productsNotifications 				{background:#efefef;}

.moduleRow { }
.moduleRowOver 						{background-color: #efefef; cursor: pointer; cursor:pointer; }
.moduleRowSelected 					{background-color: #efefef; }
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox 							{background:#e6e6e6;}
.orderEdit 							{font-family: Arial, Helvetica, sans-serif; font-size : 10px; color:#8265d4; text-decoration: underline; }
/* ************************************************************************************* */
/* ************************************************************************************* */

/* Sergei's CSS */
.banners{
text-align: left;
/*border: 1px solid red;*/
}
.flash_table{
text-align: left;
/*border: 1px solid red;*/
}


#products{
text-align: center;
padding-top: 8px;
/*border: 1px solid red;*/
}
#keywords{
width: 110px;
}
#taxon{
width: 130px;
}
#td_menu_bar{
vertical-align:middle;
}
.product_name{
color: #817A7A;
font-size: 13px;
font-weight: normal;
line-height: 17px;
text-decoration: none;
}
.product_name:hover{
text-decoration: underline;
}
.thumbnails{
padding-top: 10px;
}
.thumbnails, .thumbnails li{
display: inline;
float:left;
}
.thumbnails li{
margin-left: 8px;
border: 2px silver solid;
}
#variant-images{
padding-top: 10px;
text-align: left;
}
#taxons{
    padding-top: 12px;
    text-align: left;
}
.email_to_friend{
    padding-top: 10px;
    padding-bottom: 7px;
}
.email_to_friend a{
    color: #817A7A;
    font-size: 12px;
}
#product_properties_td{
    width: 400px;
}
.prop_line{
    border-bottom: 1px silver solid;
}
.prop_name{
    width: 300px;
    text-align: left;
}
.prop_value{
    text-align: right;
}
.review{
    padding-top: 4px;
}
#reviews{
    padding-top: 12px;
}
#average_customer_rating{
    padding-bottom: 3px;
}
#reviews_button_td{
    width: 180px;
    text-align: left;
}
.standart_link, .standart_link a, .breadcrumbs, .progress-steps li span a {
color:#817A7A;
font-size:12px;
font-weight:500;
text-decoration:none;
}
#wishlist{
margin-top: 3px;
border-top: 1px solid #C6C4C4;
}
#wishlist-form{

}
#email_to_friend a{
color:#817A7A;
font-size:12px;
font-weight:normal;
text-decoration:none;
}
.submit_button, .move_button input, .feedback-review{
    margin-top: 3px;
    background-color: #464545;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid black;
}
.move_select select{
    width: 100px;
}
.textfield{
    border: 1px solid #cccccc;
    margin-top: 2px;
}
#notice{
    color: green;
}
#cart_form_td, .cart_form_td{
    padding-left: 15px;
    padding-top: 5px;
    width: 54px;
}
#product-variants{
    padding-bottom: 4px;
}
.link2 a, .link2 a:hover {
    text-decoration: underline;
    color: #101010;
    font-size: 10pt;
}
.breadcrumbs ul li{
    float: left;
}
.breadcrumbs ul li a{
    color:#817A7A;
    font-size:12px;
    font-weight:600;
    text-decoration:none;
}
.date_select select
    {border:0px solid #cccccc;background:transparent; color:#a4a4a4;vertical-align:middle;margin:0px 0px 0px 0px;padding:0px 5px 2px 5px; height:16px; line-height:14px;}
.even{
    text-align: center;
}
.fb_edge_widget_with_comment{
  width: 100px;
}