ul.dropmenu {
	background: url("/images/basic-menu.jpg") repeat-x scroll 0 0 transparent;
	display: block;
	float: left;
	height: 29px;
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	font-size: 12px;
	color: #FFFFFF;
}
.dropmenu li a, .dropmenu li {
	float: left;
	}
#nav-one .deactiv {
	font-family: Tahoma;
	padding-top: 7px;
	font-size: 12px;
	padding-right: 30px;
	border-right: 1px solid #4A779D;
}

.dropmenu li a:hover, .dropmenu li.open > a {
	background: url("/images/activ-text.jpg") repeat-x scroll 0 0 #FFFFFF;
	color: #FFFFFF;
}
.dropmenu li {
	list-style: none outside none;
	position: relative;
	font-size: 12px;
	font-family: Tahoma;
}
/*
.dropmenu li span {
	background: /* url("/images/arrow_up.png") repeat-x scroll 0 0  transparent;
	display: block;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 12px;
	width: 10px;
	}
.dropmenu li a:hover span, .dropmenu li.open > a span {
    /*background-image: url("/images/arrow_hover.png");
}
*/
.dropmenu li a, .dropmenu li div {
	border-right: 1px solid #4A779D;
	color: #FFFFFF;
	padding: 7px 20px 8px 20px;
	text-decoration: none;
	
}
.dropmenu li > ul, .dropmenu li > div {
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	background-color: #f9f8f5;
	z-index: 500000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #b0aca5;
}
.dropmenu li:hover > ul, .dropmenu li:hover > div {
    display: block;
}
.dropmenu li ul li, .dropmenu li ul li a {
	color: #5d6569;
	float: none;
	text-decoration: none;
	text-transform: none;
	position: relative;
	z-index: 1000000;
	
}
.dropmenu li ul li {
	
}
.dropmenu li > div {
    width: 200px;
}
.dropmenu li ul li a span {
   /* background: url("/images/arrow_sub.gif") repeat-x scroll 0 0 transparent;*/
}
.dropmenu li ul li a {
	border-right: 1px solid #b0aca5;
	display: block;
	width: 225px;
}
.dropmenu li ul li a:hover {
	background: none repeat scroll 0 0 #f9f8f5;
	color: #F67A00;
}
.dropmenu li ul li ul, .dropmenu li ul li > div {
    left: 101%;
    top: 0;
}
.dropmenu li > div.login {
	border: 1px solid #FFFFFF;
	width: 220px;
}
.dropmenu li > div.login div {
    border: medium none;
}
.login label {
    color: #595959;
    display: block;
    padding: 0 0 4px;
}
.login input{
    border: 1px solid #4A779D;
}
.login input[type=text], .login input[type=password] {
    margin-bottom: 8px;
    padding: 3px 8px;
    width: 164px;
}
.login input[type=submit] {
	background: /* url("/images/navigation.png") repeat-x scroll 0 0 */ #4A779D;
	color: #FFFFFF;
	padding: 4px 10px;
	width: 182px;
	margin-top: 3px;
}
.sign_links{
    width: 165px;
    margin: 0;
    padding: 0;
}
.sign_links a{
    background: /*url("/images/navigation.png") repeat-x scroll 0 0*/ #4A779D;
    border: 1px solid #4A779D;
    color: #FFFFFF;
	padding: 4px 10px;
    margin-top: 3px;
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    width: 160px;
    height: 19px;
    line-height: 19px;
}
.dropmenu li > div.products {
    width: 285px;
}
.dropmenu li:hover > div.products ul {
    display: block;
}
.dropmenu li > div.products * {
    border: medium none;
    margin: 0;
    padding: 0;
    position: relative;
}
.dropmenu li > div.products li {
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px 0;
}
.dropmenu li > div.products li img {
    float: left;
    margin: 0 15px;
}
.dropmenu li > div.products {
    border: 1px solid #CCCCCC;
    color: #595959;
}
.dropmenu li > div.products ul li h2 {
    font-size: 16px;
    margin: 0;
    padding: 2px 0 3px;
}
.dropmenu li > div.products ul li p {
    color: #666666;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.dropmenu li > div.products ul li p a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
    display: inline;
    margin: 0;
    padding: 0;
    text-transform: none;
}
.dropmenu li > div.products ul li p a:hover {
    color: #222222;
    text-decoration: none !important;
}
.dropmenu li > div.products .small {
    color: #595959;
    font-size: 9px;
    padding: 15px;
    text-transform: none;
}
.dropmenu li > div.tutorials * {
    display: none;
}
.total{
    margin: 0;
}