  <% if flash[:warning] or flash[:notice] %>
    <tr>
      <td id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	<%= flash[:warning] || flash[:notice]  %>
      </td>
    </tr>
  <% end %>
  <% if flash[:error] %>
    <tr>
      <td id="error" class="error">
	<%= flash[:error]  %>
      </td>
    </tr>
  <% end %>