<table cellpadding="0" cellspacing="0" border="0" class="table2">
  <tr>
    <td class="languages">
      <table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
	  <td style="padding:0px 0px 2px 0px;">
	    <%= t('language') %>:&nbsp;&nbsp;
	  </td>
	  <td style="width:100%;">
	    <%= render :partial => 'shared/locales_dropdown' %>
	  </td>
	</tr>
      </table>
    </td>
    <!--<td class="currencies">				
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
	  <td style="padding:0px 0px 2px 0px;"><%= t('currencies') %>:&nbsp;&nbsp;</td>
	  <td style="width:100%;">
	    <form name="currencies" action="http://localhost/oscommerce-2.3.1/index.php" method="get">
	      <select name="currency" onChange="this.form.submit();" class="select">
	        <option value="USD" selected="selected">US Dollar</option>
	        <option value="EUR">Euro</option>
	      </select>
	      <input type="hidden" name="osCsid" value="4d4eoqefhbpmel6tk4mg8ifo67">
	    </form>
	  </td>
        </tr>
      </table>
    </td>-->
  </tr>
</table>
