<tr>
<td class="flash_table">
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="flash" ><!--Valid flash version 8.0-->
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,24" width="100%" height="238">
	<param name="movie" value="/flash/header_v8.swf?xmlUrl=flash/tfile_main.xml" />
	<param name="quality" value="high" />
	<param name="menu" value="false" />
	<param name="wmode" value="transparent" />
	<!--[if !IE]> <-->
	<object data="/flash/header_v8.swf?xmlUrl=/flash/tfile_main.xml" width="100%" height="238" type="application/x-shockwave-flash">
	<param name="quality" value="high" />
	<param name="menu" value="false" />
	<param name="pluginurl" value="http://www.macromedia.com/go/getflashplayer" />
	<param name="wmode" value="transparent" />
	FAIL (the browser should render some flash content, not this).
	</object>
	<![endif]>
      </object>
    </td>
  </tr>
</table>
</td>
</tr>
<tr>
<td class="banners">
<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td id="small_banner1" align="left">
      <img src="/images/banners/banner_03.jpg" border="0" alt="Banner3" title=" Banner3 " width="249" height="146">
    </td>
    <td id="small_banner2" align="center">
      <img src="/images/banners/banner_04.jpg" border="0" alt="Banner4" title=" Banner4 " width="249" height="146">
    </td>
    <td id="small_banner3" align="right">
      <img src="/images/banners/banner_05.jpg" border="0" alt="Banner5" title=" Banner5 " width="249" height="146">
    </td>
  </tr>
</table>
</td>
</tr>