<%= javascript_include_tag "http://userapi.com/js/api/openapi.js?34" %>
<!-- VK Widget -->
<div id="vkontakte">
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "290", height: "292"}, 20003922); <%# 20003922 -> vkontakte group's id %>
</script>
</div>