<table border="0" class="box_width_left" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table border="0" width="100%" cellspacing="0" cellpadding="0"  class="infoBoxHeading2_table">
  	<tr>
	  <td class="infoBoxHeading2_td"><%=t "categories" %></td>
  	</tr>
      </table>
      <table border="0" width="100%" cellspacing="0" cellpadding="0"  class="infoBox_table">
	<tr>
	  <td class="infoBox_td">
	    <table border="0" width="100%" cellspacing="0" cellpadding="0"  class="infoBoxContents_table">
  	      <tr>
	  	<td class="boxText">

		<% get_taxonomies.each do |taxonomy| %>
		  <ul class="categories">
		    <li class="bg_list"><%= @taxon.name if @taxon %>
		      <b><%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name), seo_url(taxonomy.root), :class => 'root' %></b>
		    </li>
		    <%= render :partial => 'shared/taxonomy', :object=> taxonomy.root %>
		  </ul>
		<% end %>

		</td>
	      </tr>
	    </table>
	  </td>
  	</tr>
      </table>
    </td>
  </tr>
</table>

