<ul class="sidebar-dropmenu sf-vertical">
<% get_taxonomies.each do |taxonomy| %>
    <li class="first-level">
      <%= link_to taxonomy.root.name, seo_url(taxonomy.root), :class => 'first-level-link' %>
      <%= render :partial => 'shared/taxonomy', :object=> taxonomy.root %>
    </li>
<% end %>
</ul>