      <br><%= 'copyright' %> &copy; 2011
        &nbsp;&nbsp;
      <b>
	<a href="#">
	  <%= 'privacy_notice' %>
	</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
	<a href="#">
	  <%= 'conditions_of_use' %>
	</a>
      </b>
