<% if !@product.taxons.blank? %>
<div id="taxon-crumbs">
  <table>
    <tr>
      <td>
        <h3><%= t('look_for_similar_items') %></h3>
      </td>
    </tr>
  <%= hook :product_taxons do %>
    <% @product.taxons.each do |taxon| %>
      <tr>
        <td>
          <%= link_to taxon.name, "/t/#{taxon.permalink}" %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>

</div>
<% end %>
